@import '../vars';

.welcome {
  &__container {
    @include flex-center;
    height: calc(100vh - 160px);
    width: 100vw;
    background-color: #282c34;
    background-image: url($orange-noiseURL);
    @media (min-width: 320px) and (orientation: landscape) {
      height: 500px;
    }
    @media (min-width: $breakpointMinTablet) {
      width: 90vw;
      height: calc(100vh - 150px);
    }
  }

  &__content {
    background-color: $white-color;
    background-image: url(&component-noiseURL);
    border-radius: 32px;
    height: auto;
    width: 300px;
    margin-top: 16px;
    background-image: url($component-noiseURL);
  }
  &__header {
    @include flex-center;
    flex-direction: column;

    &-gretting {
      width: 120px;
      font-family: $font-comic;
      color: $blue-color;
      font-size: 32px;
      text-align: center;
      rotate: -8deg;
      -webkit-transform: rotate(-8deg); /* Safari & Chrome */
      -moz-transform: rotate(-8deg); /* Firefox */
      -ms-transform: rotate(-8deg); /* Internet Explorer */
      -o-transform: rotate(-8deg); /* Opera */
      margin: 16px 16px;
      background-color: $egg-color;
    }
  }

  &__body {
    @include flex-center;
    flex-direction: column;
  }
  &__title {
    font-size: 32px;
    grid-column: 2/3;
    font-family: $font-comic;
    color: $blue-color;
  }

  &__logo {
    border-radius: 50%;
    margin: 16px;
  }

  &__presentation {
    margin: 32px;
    letter-spacing: 0.7px;
  }
  &__subtitle {
    grid-row: 2/3;
    font-size: 18px;
    color: $blue-color;
    font-family: $font-comic;
  }
}
