@import '../../components/vars';

.welcome {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    background-image: url($orange-noiseURL);
  }

  &__content {
    background-color: $white-color;
    background-image: url(&component-noiseURL);
    border-radius: 2rem;
  }
}
