@import '_vars';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.page__container {
  @media (min-width: $breakpointMinTablet) {
    width: 90vw;
    height: 100%;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 90px;
  min-height: 100vh;
}
